@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');

$font-display: 'Fredoka One', sans-serif;
$font-body: 'Roboto', sans-serif;

$padding: 50px;
$padding-small: 25px;

$page-width: 1500px;

$breakpoint-md: 860px;